.git
.git/
.github/
.DS_Store

controls-platform/

**/.gradle/
**/build/
**/out/
**/.pytest_cache/
**/.ruff_cache/
**/.mypy_cache/
**/__pycache__/
**/*.py[cod]

**/.venv/
**/node_modules/
**/.idea/
**/*.iml
